In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [4]:
data = pd.read_csv("global_cars_dataset_synthetic.csv")

In [6]:
data.head()

,Car_ID,Brand,Manufacture_Year,Body_Type,Fuel_Type,Transmission,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD,Manufacturing_Country
0,CAR_0001,Mercedes,2006,SUV,Petrol,Manual,4089,547,17,73407,USA
1,CAR_0002,Nissan,2023,Coupe,Petrol,Automatic,4618,167,25,79370,USA
2,CAR_0003,Nissan,2007,Hatchback,Diesel,Manual,1802,110,16,76549,China
3,CAR_0004,Nissan,2013,Coupe,Petrol,Manual,1835,373,16,48722,USA
4,CAR_0005,Hyundai,2009,Hatchback,Hybrid,Automatic,2332,145,28,83265,UK

In [8]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Car_ID                 300 non-null    str
 1   Brand                  300 non-null    str
 2   Manufacture_Year       300 non-null    int64
 3   Body_Type              300 non-null    str
 4   Fuel_Type              300 non-null    str
 5   Transmission           300 non-null    str
 6   Engine_CC              300 non-null    int64
 7   Horsepower             300 non-null    int64
 8   Mileage_km_per_l       300 non-null    int64
 9   Price_USD              300 non-null    int64
 10  Manufacturing_Country  300 non-null    str
dtypes: int64(5), str(6)
memory usage: 25.9 KB

In [10]:
data.describe()

,Manufacture_Year,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD
count,300.000000,300.000000,300.000000,300.000000,300.000000
mean,2015.123333,3052.880000,328.346667,19.716667,60848.823333
std,5.966023,1117.937497,153.202644,6.028061,34445.525598
min,2005.000000,1001.000000,70.000000,10.000000,5221.000000
25%,2010.000000,2074.000000,188.250000,15.000000,29418.500000
50%,2015.000000,3117.500000,329.500000,19.500000,59179.500000
75%,2020.000000,3964.000000,454.750000,24.000000,89692.250000
max,2025.000000,4994.000000,599.000000,30.000000,119587.000000

In [13]:
data.shape

(300, 11)

In [17]:
data.isnull().sum()

Car_ID                   0
Brand                    0
Manufacture_Year         0
Body_Type                0
Fuel_Type                0
Transmission             0
Engine_CC                0
Horsepower               0
Mileage_km_per_l         0
Price_USD                0
Manufacturing_Country    0
dtype: int64

In [19]:
data.duplicated().sum()

np.int64(0)

In [ ]:
import matplotlib.pyplot as plt
sns.heatmap(data.corr(numeric_only=True), annot=True)
plt.show()

ValueError: could not convert string to float: 'CAR_0001'